USE [master]
GO
/****** Object:  Database [VetCareDB]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE DATABASE [VetCareDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetCareDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PetCareDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetCareDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PetCareDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VetCareDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VetCareDB]
GO
/****** Object:  Table [dbo].[especies]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[especies](
	[id_especie] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[propietarios]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[propietarios](
	[id_propietario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[documento] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[email] [varchar](100) NULL,
	[direccion] [varchar](200) NULL,
	[fecha_registro] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_propietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mascotas]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mascotas](
	[id_mascota] [int] IDENTITY(1,1) NOT NULL,
	[id_propietario] [int] NOT NULL,
	[id_especie] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[raza] [varchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
	[sexo] [char](1) NULL,
	[peso] [decimal](5, 2) NULL,
	[color] [varchar](30) NULL,
	[observaciones] [text] NULL,
	[foto_url] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_mascotas_completo]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_mascotas_completo] AS
SELECT 
    m.id_mascota,
    m.nombre AS mascota_nombre,
    m.raza,
    m.fecha_nacimiento,
    m.sexo,
    m.peso,
    m.color,
    e.nombre AS especie,
    p.nombre AS propietario,
    p.telefono AS propietario_telefono,
    p.email AS propietario_email,
    DATEDIFF(YEAR, m.fecha_nacimiento, GETDATE()) AS edad_anos
FROM mascotas m
INNER JOIN especies e ON m.id_especie = e.id_especie
INNER JOIN propietarios p ON m.id_propietario = p.id_propietario
WHERE m.activo = 1;

GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[rol] [varchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[ultimo_acceso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[veterinarios]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veterinarios](
	[id_veterinario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[colegiatura] [varchar](20) NOT NULL,
	[especialidad] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
	[id_usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_veterinario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consultas]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultas](
	[id_consulta] [int] IDENTITY(1,1) NOT NULL,
	[id_mascota] [int] NOT NULL,
	[id_veterinario] [int] NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[motivo] [varchar](200) NOT NULL,
	[diagnostico] [text] NULL,
	[peso_actual] [decimal](5, 2) NULL,
	[temperatura] [decimal](4, 1) NULL,
	[estado] [varchar](20) NOT NULL,
	[observaciones] [text] NULL,
	[costo] [decimal](10, 2) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[id_usuario_registro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_consultas_hoy]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_consultas_hoy] AS
SELECT 
    c.id_consulta,
    c.fecha_hora,
    c.motivo,
    c.estado,
    m.nombre AS mascota,
    e.nombre AS especie,
    p.nombre AS propietario,
    p.telefono,
    v.nombre AS veterinario,
    u.nombre_completo AS registrado_por  -- *** TRAZABILIDAD ***
FROM consultas c
INNER JOIN mascotas m ON c.id_mascota = m.id_mascota
INNER JOIN especies e ON m.id_especie = e.id_especie
INNER JOIN propietarios p ON m.id_propietario = p.id_propietario
INNER JOIN veterinarios v ON c.id_veterinario = v.id_veterinario
LEFT JOIN usuarios u ON c.id_usuario_registro = u.id_usuario  -- *** TRAZABILIDAD ***
WHERE CAST(c.fecha_hora AS DATE) = CAST(GETDATE() AS DATE);

GO
/****** Object:  Table [dbo].[vacunas]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacunas](
	[id_vacuna] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[intervalo_dias] [int] NOT NULL,
	[id_especie] [int] NULL,
	[dosis_requeridas] [int] NULL,
	[edad_minima_dias] [int] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vacuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calendario_vacunacion]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendario_vacunacion](
	[id_calendario] [int] IDENTITY(1,1) NOT NULL,
	[id_mascota] [int] NOT NULL,
	[id_vacuna] [int] NOT NULL,
	[fecha_programada] [date] NOT NULL,
	[fecha_aplicacion] [date] NULL,
	[fecha_proxima] [date] NULL,
	[dosis_numero] [int] NULL,
	[estado] [varchar](20) NOT NULL,
	[recordatorio_enviado] [bit] NOT NULL,
	[observaciones] [varchar](200) NULL,
	[lote_vacuna] [varchar](50) NULL,
	[id_veterinario] [int] NULL,
	[id_usuario_registro] [int] NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_calendario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_vacunaciones_proximas]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_vacunaciones_proximas] AS
SELECT 
    cv.id_calendario,
    cv.fecha_programada,
    cv.estado,
    m.nombre AS mascota,
    e.nombre AS especie,
    p.nombre AS propietario,
    p.telefono,
    p.email,
    v.nombre AS vacuna,
    u.nombre_completo AS programado_por  -- *** TRAZABILIDAD ***
FROM calendario_vacunacion cv
INNER JOIN mascotas m ON cv.id_mascota = m.id_mascota
INNER JOIN especies e ON m.id_especie = e.id_especie
INNER JOIN propietarios p ON m.id_propietario = p.id_propietario
INNER JOIN vacunas v ON cv.id_vacuna = v.id_vacuna
LEFT JOIN usuarios u ON cv.id_usuario_registro = u.id_usuario  -- *** TRAZABILIDAD ***
WHERE cv.estado = 'Pendiente'
  AND cv.fecha_programada BETWEEN GETDATE() AND DATEADD(DAY, 7, GETDATE());

GO
/****** Object:  View [dbo].[vw_usuarios_detalle]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_usuarios_detalle] AS
SELECT 
    u.id_usuario,
    u.username,
    u.nombre_completo,
    u.email,
    u.rol,
    u.activo,
    u.fecha_creacion,
    u.ultimo_acceso,
    v.id_veterinario,
    v.nombre AS veterinario_nombre,
    v.colegiatura,
    v.especialidad
FROM usuarios u
LEFT JOIN veterinarios v ON u.id_usuario = v.id_usuario;

GO
/****** Object:  Table [dbo].[detalles_factura]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalles_factura](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [int] NOT NULL,
	[id_servicio] [int] NULL,
	[descripcion] [varchar](200) NOT NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[descuento] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[numero_factura] [varchar](20) NOT NULL,
	[id_propietario] [int] NOT NULL,
	[id_mascota] [int] NULL,
	[id_consulta] [int] NULL,
	[fecha_emision] [datetime] NOT NULL,
	[fecha_vencimiento] [date] NULL,
	[subtotal] [decimal](10, 2) NULL,
	[descuento] [decimal](10, 2) NULL,
	[igv] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
	[estado] [varchar](20) NOT NULL,
	[metodo_pago] [varchar](30) NULL,
	[fecha_pago] [datetime] NULL,
	[monto_pagado] [decimal](10, 2) NULL,
	[observaciones] [text] NULL,
	[id_usuario_registro] [int] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicios]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicios](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [text] NULL,
	[categoria] [varchar](50) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[duracion_minutos] [int] NULL,
	[activo] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tratamientos]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tratamientos](
	[id_tratamiento] [int] IDENTITY(1,1) NOT NULL,
	[id_consulta] [int] NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[medicamento] [varchar](100) NULL,
	[dosis] [varchar](100) NULL,
	[duracion_dias] [int] NULL,
	[indicaciones] [text] NULL,
	[costo] [decimal](10, 2) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[calendario_vacunacion] ON 

INSERT [dbo].[calendario_vacunacion] ([id_calendario], [id_mascota], [id_vacuna], [fecha_programada], [fecha_aplicacion], [fecha_proxima], [dosis_numero], [estado], [recordatorio_enviado], [observaciones], [lote_vacuna], [id_veterinario], [id_usuario_registro], [fecha_registro]) VALUES (1, 1, 1, CAST(N'2026-01-30' AS Date), CAST(N'2026-01-21' AS Date), CAST(N'2027-01-21' AS Date), 1, N'Aplicada', 0, N'NINGUNA', N'LOT-5001', 1, NULL, CAST(N'2026-01-21T02:19:49.867' AS DateTime))
INSERT [dbo].[calendario_vacunacion] ([id_calendario], [id_mascota], [id_vacuna], [fecha_programada], [fecha_aplicacion], [fecha_proxima], [dosis_numero], [estado], [recordatorio_enviado], [observaciones], [lote_vacuna], [id_veterinario], [id_usuario_registro], [fecha_registro]) VALUES (2, 1, 1, CAST(N'2027-01-21' AS Date), NULL, NULL, 2, N'Cancelada', 0, NULL, NULL, NULL, NULL, CAST(N'2026-01-21T02:53:04.970' AS DateTime))
INSERT [dbo].[calendario_vacunacion] ([id_calendario], [id_mascota], [id_vacuna], [fecha_programada], [fecha_aplicacion], [fecha_proxima], [dosis_numero], [estado], [recordatorio_enviado], [observaciones], [lote_vacuna], [id_veterinario], [id_usuario_registro], [fecha_registro]) VALUES (3, 1, 7, CAST(N'2026-01-31' AS Date), CAST(N'2026-01-28' AS Date), CAST(N'2027-01-28' AS Date), 1, N'Aplicada', 0, N'ningunas', N'1', 1, NULL, CAST(N'2026-01-21T02:53:52.473' AS DateTime))
SET IDENTITY_INSERT [dbo].[calendario_vacunacion] OFF
GO
SET IDENTITY_INSERT [dbo].[consultas] ON 

INSERT [dbo].[consultas] ([id_consulta], [id_mascota], [id_veterinario], [fecha_hora], [motivo], [diagnostico], [peso_actual], [temperatura], [estado], [observaciones], [costo], [fecha_creacion], [id_usuario_registro]) VALUES (1, 1, 1, CAST(N'2026-01-30T06:22:00.000' AS DateTime), N'TIENE PULGAS', NULL, NULL, NULL, N'Programada', NULL, NULL, CAST(N'2026-01-21T01:18:55.647' AS DateTime), NULL)
INSERT [dbo].[consultas] ([id_consulta], [id_mascota], [id_veterinario], [fecha_hora], [motivo], [diagnostico], [peso_actual], [temperatura], [estado], [observaciones], [costo], [fecha_creacion], [id_usuario_registro]) VALUES (2, 1, 1, CAST(N'2026-01-30T12:01:00.000' AS DateTime), N'ninguno', NULL, NULL, NULL, N'Programada', NULL, NULL, CAST(N'2026-01-27T21:14:12.520' AS DateTime), NULL)
INSERT [dbo].[consultas] ([id_consulta], [id_mascota], [id_veterinario], [fecha_hora], [motivo], [diagnostico], [peso_actual], [temperatura], [estado], [observaciones], [costo], [fecha_creacion], [id_usuario_registro]) VALUES (3, 1, 1, CAST(N'2026-01-14T00:19:00.000' AS DateTime), N'', NULL, NULL, NULL, N'Cancelada', NULL, NULL, CAST(N'2026-01-27T23:19:26.170' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[consultas] OFF
GO
SET IDENTITY_INSERT [dbo].[detalles_factura] ON 

INSERT [dbo].[detalles_factura] ([id_detalle], [id_factura], [id_servicio], [descripcion], [cantidad], [precio_unitario], [descuento], [subtotal]) VALUES (1, 1, 11, N'Cirugía Menor', 2, CAST(120.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(240.00 AS Decimal(10, 2)))
INSERT [dbo].[detalles_factura] ([id_detalle], [id_factura], [id_servicio], [descripcion], [cantidad], [precio_unitario], [descuento], [subtotal]) VALUES (2, 1, 5, N'Vacuna Múltiple Canina', 1, CAST(45.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)))
INSERT [dbo].[detalles_factura] ([id_detalle], [id_factura], [id_servicio], [descripcion], [cantidad], [precio_unitario], [descuento], [subtotal]) VALUES (3, 1, 1, N'Consulta General', 10, CAST(50.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(490.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[detalles_factura] OFF
GO
SET IDENTITY_INSERT [dbo].[especies] ON 

INSERT [dbo].[especies] ([id_especie], [nombre], [descripcion], [activo]) VALUES (1, N'Perro', N'Canis lupus familiaris', 1)
INSERT [dbo].[especies] ([id_especie], [nombre], [descripcion], [activo]) VALUES (2, N'Gato', N'Felis catus', 1)
INSERT [dbo].[especies] ([id_especie], [nombre], [descripcion], [activo]) VALUES (3, N'Ave', N'Aves domésticas', 0)
SET IDENTITY_INSERT [dbo].[especies] OFF
GO
SET IDENTITY_INSERT [dbo].[facturas] ON 

SET IDENTITY_INSERT [dbo].[facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[mascotas] ON 

INSERT [dbo].[mascotas] ([id_mascota], [id_propietario], [id_especie], [nombre], [raza], [fecha_nacimiento], [sexo], [peso], [color], [observaciones], [foto_url], [activo]) VALUES (1, 1, 1, N'GUDY', N'LABRADOR', CAST(N'2025-06-11' AS Date), N'M', CAST(2.50 AS Decimal(5, 2)), N'BLANCO CON MANCHAS NEGRAS', N'NINGUNA', NULL, 1)
INSERT [dbo].[mascotas] ([id_mascota], [id_propietario], [id_especie], [nombre], [raza], [fecha_nacimiento], [sexo], [peso], [color], [observaciones], [foto_url], [activo]) VALUES (2, 1, 1, N'Max', N'Labrador', CAST(N'2020-05-10' AS Date), N'M', CAST(25.50 AS Decimal(5, 2)), N'Dorado', N'Muy juguetón', NULL, 1)
INSERT [dbo].[mascotas] ([id_mascota], [id_propietario], [id_especie], [nombre], [raza], [fecha_nacimiento], [sexo], [peso], [color], [observaciones], [foto_url], [activo]) VALUES (3, 2, 2, N'Luna', N'Siames', CAST(N'2021-03-12' AS Date), N'H', CAST(4.20 AS Decimal(5, 2)), N'Gris', N'Tranquila', NULL, 1)
SET IDENTITY_INSERT [dbo].[mascotas] OFF
GO
SET IDENTITY_INSERT [dbo].[propietarios] ON 

INSERT [dbo].[propietarios] ([id_propietario], [nombre], [documento], [telefono], [email], [direccion], [fecha_registro], [activo]) VALUES (1, N'Manuel Perez', N'00117455055', N'8294627091', N'mperez@dominio.com', N'calle republica de costa rica no. 7, los rios , Distrito Nacional', CAST(N'2026-01-21T00:39:04.480' AS DateTime), 1)
INSERT [dbo].[propietarios] ([id_propietario], [nombre], [documento], [telefono], [email], [direccion], [fecha_registro], [activo]) VALUES (2, N'Luis Alberto Méndez', N'10123456701', N'809-555-1101', N'luis.mendez@hotmail.com', N'Calle Central #10, Gazcue, Santo Domingo', CAST(N'2026-01-28T19:29:36.913' AS DateTime), 1)
INSERT [dbo].[propietarios] ([id_propietario], [nombre], [documento], [telefono], [email], [direccion], [fecha_registro], [activo]) VALUES (3, N'Carlos Méndez', N'DOC0001', N'809-555-0001', N'carlos1@email.com', N'Calle 1, Santo Domingo', CAST(N'2026-01-28T20:36:46.003' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[propietarios] OFF
GO
SET IDENTITY_INSERT [dbo].[servicios] ON 

INSERT [dbo].[servicios] ([id_servicio], [codigo], [nombre], [descripcion], [categoria], [precio], [duracion_minutos], [activo], [fecha_creacion], [fecha_actualizacion]) VALUES (1, N'SRV-0001', N'Consulta General', N'Consulta médica veterinaria general', N'Consulta', CAST(50.00 AS Decimal(10, 2)), 30, 1, CAST(N'2026-01-27T20:09:55.437' AS DateTime), CAST(N'2026-01-27T20:09:55.437' AS DateTime))
INSERT [dbo].[servicios] ([id_servicio], [codigo], [nombre], [descripcion], [categoria], [precio], [duracion_minutos], [activo], [fecha_creacion], [fecha_actualizacion]) VALUES (2, N'SRV-0002', N'Consulta de Emergencia', N'Atención de emergencia las 24 horas', N'Emergencia', CAST(100.00 AS Decimal(10, 2)), 45, 1, CAST(N'2026-01-27T20:09:55.437' AS DateTime), CAST(N'2026-01-27T20:09:55.437' AS DateTime))
INSERT [dbo].[servicios] ([id_servicio], [codigo], [nombre], [descripcion], [categoria], [precio], [duracion_minutos], [activo], [fecha_creacion], [fecha_actualizacion]) VALUES (3, N'SRV-0003', N'Consulta Especializada', N'Consulta con veterinario especialista', N'Consulta', CAST(80.00 AS Decimal(10, 2)), 45, 1, CAST(N'2026-01-27T20:09:55.437' AS DateTime), CAST(N'2026-01-27T20:09:55.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[tratamientos] ON 

INSERT [dbo].[tratamientos] ([id_tratamiento], [id_consulta], [descripcion], [medicamento], [dosis], [duracion_dias], [indicaciones], [costo], [fecha_inicio], [fecha_fin], [estado]) VALUES (1, 1, N'Control de ectoparásitos (pulgas)', N'Fipronil spot-on', N'1 pipeta según peso', 30, N'Aplicar en la nuca. Evitar baño 48h. Repetir mensual.', CAST(1800.00 AS Decimal(10, 2)), CAST(N'2026-01-30' AS Date), CAST(N'2026-02-28' AS Date), N'Activo')
INSERT [dbo].[tratamientos] ([id_tratamiento], [id_consulta], [descripcion], [medicamento], [dosis], [duracion_dias], [indicaciones], [costo], [fecha_inicio], [fecha_fin], [estado]) VALUES (2, 2, N'Suplemento preventivo', N'Multivitamínico', N'5 ml VO 1 vez/día', 10, N'Administrar con alimento. Vigilar apetito.', CAST(900.00 AS Decimal(10, 2)), CAST(N'2026-01-30' AS Date), CAST(N'2026-02-08' AS Date), N'Activo')
INSERT [dbo].[tratamientos] ([id_tratamiento], [id_consulta], [descripcion], [medicamento], [dosis], [duracion_dias], [indicaciones], [costo], [fecha_inicio], [fecha_fin], [estado]) VALUES (3, 3, N'Consulta cancelada / sin tratamiento', N'N/A', N'N/A', 1, N'Cita cancelada. Sin intervención. Reprogramar si persisten síntomas.', CAST(0.01 AS Decimal(10, 2)), CAST(N'2026-01-14' AS Date), CAST(N'2026-01-14' AS Date), N'Suspendido')
SET IDENTITY_INSERT [dbo].[tratamientos] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [username], [password_hash], [nombre_completo], [email], [rol], [activo], [fecha_creacion], [ultimo_acceso]) VALUES (1, N'jturbi', N'scrypt:32768:8:1$7wdxj5MjrU6vMr2f$fcf180120a0c09e3d90c83f63c3c1df7b61bb6a9e83527330a5e64f74454da154580eae199b2cb486d78f7abdea6e80bf52e2e746b77ad35d768e8b185624731', N'Jorge Turbi', N'jorgelachapelle@hotmail.com', N'Administrador', 1, CAST(N'2026-01-21T00:37:50.097' AS DateTime), CAST(N'2026-01-28T20:21:44.743' AS DateTime))
INSERT [dbo].[usuarios] ([id_usuario], [username], [password_hash], [nombre_completo], [email], [rol], [activo], [fecha_creacion], [ultimo_acceso]) VALUES (2, N'cmarchena', N'scrypt:32768:8:1$ARHTzIOa7vcLi2BV$3857a047b2c77053c75497f28850fe1658c49a96460f6f9dc867c1483fd969baf0e9873a2ab66102ba00588984b0f7ae246d53e6a5911ef292ce7eb7d5bb8c4d', N'Cesar Marchena', N'cesarmarchena@gmail.com', N'Administrador', 1, CAST(N'2026-01-28T11:22:22.947' AS DateTime), CAST(N'2026-01-28T11:22:58.273' AS DateTime))
INSERT [dbo].[usuarios] ([id_usuario], [username], [password_hash], [nombre_completo], [email], [rol], [activo], [fecha_creacion], [ultimo_acceso]) VALUES (1003, N'lfernandez', N'scrypt:32768:8:1$Abc123$hashsimulado01', N'Laura Fernández', N'laura.fernandez@gmail.com', N'Recepcion', 1, CAST(N'2026-01-28T20:49:13.640' AS DateTime), CAST(N'2026-01-28T20:49:13.640' AS DateTime))
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[vacunas] ON 

INSERT [dbo].[vacunas] ([id_vacuna], [nombre], [descripcion], [intervalo_dias], [id_especie], [dosis_requeridas], [edad_minima_dias], [activo]) VALUES (1, N'Rabia', N'Vacuna antirrábica', 365, 1, 1, NULL, 1)
INSERT [dbo].[vacunas] ([id_vacuna], [nombre], [descripcion], [intervalo_dias], [id_especie], [dosis_requeridas], [edad_minima_dias], [activo]) VALUES (2, N'Parvovirus', N'Previene parvovirosis canina', 365, 1, 1, NULL, 1)
INSERT [dbo].[vacunas] ([id_vacuna], [nombre], [descripcion], [intervalo_dias], [id_especie], [dosis_requeridas], [edad_minima_dias], [activo]) VALUES (3, N'Moquillo', N'Previene distemper canino', 365, 1, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[vacunas] OFF
GO
SET IDENTITY_INSERT [dbo].[veterinarios] ON 

INSERT [dbo].[veterinarios] ([id_veterinario], [nombre], [colegiatura], [especialidad], [telefono], [email], [activo], [id_usuario]) VALUES (1, N'Dr. Juan García López', N'CMVP-12345', N'Medicina General', N'999888777', NULL, 1, NULL)
INSERT [dbo].[veterinarios] ([id_veterinario], [nombre], [colegiatura], [especialidad], [telefono], [email], [activo], [id_usuario]) VALUES (24, N'Dr. Miguel Rodríguez', N'COL1004', N'Medicina General', N'809-600-1004', N'miguel.rodriguez@vetcare.com', 1, 1004)
INSERT [dbo].[veterinarios] ([id_veterinario], [nombre], [colegiatura], [especialidad], [telefono], [email], [activo], [id_usuario]) VALUES (25, N'Dr. Jorge Gómez', N'COL1006', N'Cirugía Veterinaria', N'809-600-1006', N'jorge.gomez@vetcare.com', 1, 1006)
SET IDENTITY_INSERT [dbo].[veterinarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_calendario_estado]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_calendario_estado] ON [dbo].[calendario_vacunacion]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_calendario_fecha]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_calendario_fecha] ON [dbo].[calendario_vacunacion]
(
	[fecha_programada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_calendario_mascota]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_calendario_mascota] ON [dbo].[calendario_vacunacion]
(
	[id_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_calendario_usuario]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_calendario_usuario] ON [dbo].[calendario_vacunacion]
(
	[id_usuario_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_consultas_estado]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultas_estado] ON [dbo].[consultas]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_consultas_fecha]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultas_fecha] ON [dbo].[consultas]
(
	[fecha_hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_consultas_mascota]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultas_mascota] ON [dbo].[consultas]
(
	[id_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_consultas_usuario]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultas_usuario] ON [dbo].[consultas]
(
	[id_usuario_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_consultas_veterinario]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_consultas_veterinario] ON [dbo].[consultas]
(
	[id_veterinario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_detalles_factura]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_detalles_factura] ON [dbo].[detalles_factura]
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_detalles_servicio]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_detalles_servicio] ON [dbo].[detalles_factura]
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__especies__72AFBCC69C2FB468]    Script Date: 1/28/2026 9:52:44 PM ******/
ALTER TABLE [dbo].[especies] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__facturas__3DC4B241E3654937]    Script Date: 1/28/2026 9:52:44 PM ******/
ALTER TABLE [dbo].[facturas] ADD UNIQUE NONCLUSTERED 
(
	[numero_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_facturas_estado]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_facturas_estado] ON [dbo].[facturas]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_facturas_fecha]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_facturas_fecha] ON [dbo].[facturas]
(
	[fecha_emision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_facturas_numero]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_facturas_numero] ON [dbo].[facturas]
(
	[numero_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_facturas_propietario]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_facturas_propietario] ON [dbo].[facturas]
(
	[id_propietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_mascotas_especie]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_mascotas_especie] ON [dbo].[mascotas]
(
	[id_especie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_mascotas_propietario]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_mascotas_propietario] ON [dbo].[mascotas]
(
	[id_propietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__propieta__A25B3E6159848C3A]    Script Date: 1/28/2026 9:52:44 PM ******/
ALTER TABLE [dbo].[propietarios] ADD UNIQUE NONCLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_propietarios_documento]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_propietarios_documento] ON [dbo].[propietarios]
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_propietarios_nombre]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_propietarios_nombre] ON [dbo].[propietarios]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__servicio__40F9A206178C995E]    Script Date: 1/28/2026 9:52:44 PM ******/
ALTER TABLE [dbo].[servicios] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_servicios_activo]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_servicios_activo] ON [dbo].[servicios]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_servicios_categoria]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_servicios_categoria] ON [dbo].[servicios]
(
	[categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_servicios_codigo]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_servicios_codigo] ON [dbo].[servicios]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tratamientos_consulta]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_tratamientos_consulta] ON [dbo].[tratamientos]
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__AB6E6164A1D1CCB0]    Script Date: 1/28/2026 9:52:44 PM ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__F3DBC5723A6DB053]    Script Date: 1/28/2026 9:52:44 PM ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usuarios_email]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_email] ON [dbo].[usuarios]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usuarios_rol]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_rol] ON [dbo].[usuarios]
(
	[rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usuarios_username]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_username] ON [dbo].[usuarios]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__veterina__4E3E04AC36DECDD6]    Script Date: 1/28/2026 9:52:44 PM ******/
ALTER TABLE [dbo].[veterinarios] ADD UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__veterina__4FB95FD5BDF6DA0A]    Script Date: 1/28/2026 9:52:44 PM ******/
ALTER TABLE [dbo].[veterinarios] ADD UNIQUE NONCLUSTERED 
(
	[colegiatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_veterinarios_usuario]    Script Date: 1/28/2026 9:52:44 PM ******/
CREATE NONCLUSTERED INDEX [idx_veterinarios_usuario] ON [dbo].[veterinarios]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[calendario_vacunacion] ADD  DEFAULT ((1)) FOR [dosis_numero]
GO
ALTER TABLE [dbo].[calendario_vacunacion] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[calendario_vacunacion] ADD  DEFAULT ((0)) FOR [recordatorio_enviado]
GO
ALTER TABLE [dbo].[calendario_vacunacion] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[consultas] ADD  DEFAULT ('Programada') FOR [estado]
GO
ALTER TABLE [dbo].[consultas] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[detalles_factura] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[detalles_factura] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[especies] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT (getdate()) FOR [fecha_emision]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ((0)) FOR [igv]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ((0)) FOR [monto_pagado]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[mascotas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[propietarios] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[propietarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[servicios] ADD  DEFAULT ('Otro') FOR [categoria]
GO
ALTER TABLE [dbo].[servicios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[servicios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[servicios] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[tratamientos] ADD  DEFAULT (getdate()) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[tratamientos] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('Recepcionista') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[vacunas] ADD  DEFAULT ((365)) FOR [intervalo_dias]
GO
ALTER TABLE [dbo].[vacunas] ADD  DEFAULT ((1)) FOR [dosis_requeridas]
GO
ALTER TABLE [dbo].[vacunas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[veterinarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[calendario_vacunacion]  WITH CHECK ADD  CONSTRAINT [FK_calendario_mascota] FOREIGN KEY([id_mascota])
REFERENCES [dbo].[mascotas] ([id_mascota])
GO
ALTER TABLE [dbo].[calendario_vacunacion] CHECK CONSTRAINT [FK_calendario_mascota]
GO
ALTER TABLE [dbo].[calendario_vacunacion]  WITH CHECK ADD  CONSTRAINT [FK_calendario_usuario] FOREIGN KEY([id_usuario_registro])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[calendario_vacunacion] CHECK CONSTRAINT [FK_calendario_usuario]
GO
ALTER TABLE [dbo].[calendario_vacunacion]  WITH CHECK ADD  CONSTRAINT [FK_calendario_vacuna] FOREIGN KEY([id_vacuna])
REFERENCES [dbo].[vacunas] ([id_vacuna])
GO
ALTER TABLE [dbo].[calendario_vacunacion] CHECK CONSTRAINT [FK_calendario_vacuna]
GO
ALTER TABLE [dbo].[calendario_vacunacion]  WITH CHECK ADD  CONSTRAINT [FK_calendario_veterinario] FOREIGN KEY([id_veterinario])
REFERENCES [dbo].[veterinarios] ([id_veterinario])
GO
ALTER TABLE [dbo].[calendario_vacunacion] CHECK CONSTRAINT [FK_calendario_veterinario]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [FK_consultas_mascota] FOREIGN KEY([id_mascota])
REFERENCES [dbo].[mascotas] ([id_mascota])
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [FK_consultas_mascota]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [FK_consultas_usuario] FOREIGN KEY([id_usuario_registro])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [FK_consultas_usuario]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [FK_consultas_veterinario] FOREIGN KEY([id_veterinario])
REFERENCES [dbo].[veterinarios] ([id_veterinario])
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [FK_consultas_veterinario]
GO
ALTER TABLE [dbo].[detalles_factura]  WITH CHECK ADD  CONSTRAINT [FK_detalles_factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[facturas] ([id_factura])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalles_factura] CHECK CONSTRAINT [FK_detalles_factura]
GO
ALTER TABLE [dbo].[detalles_factura]  WITH CHECK ADD  CONSTRAINT [FK_detalles_servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[servicios] ([id_servicio])
GO
ALTER TABLE [dbo].[detalles_factura] CHECK CONSTRAINT [FK_detalles_servicio]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_consulta] FOREIGN KEY([id_consulta])
REFERENCES [dbo].[consultas] ([id_consulta])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_consulta]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_mascota] FOREIGN KEY([id_mascota])
REFERENCES [dbo].[mascotas] ([id_mascota])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_mascota]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_propietario] FOREIGN KEY([id_propietario])
REFERENCES [dbo].[propietarios] ([id_propietario])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_propietario]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_usuario] FOREIGN KEY([id_usuario_registro])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_usuario]
GO
ALTER TABLE [dbo].[mascotas]  WITH CHECK ADD  CONSTRAINT [FK_mascotas_especie] FOREIGN KEY([id_especie])
REFERENCES [dbo].[especies] ([id_especie])
GO
ALTER TABLE [dbo].[mascotas] CHECK CONSTRAINT [FK_mascotas_especie]
GO
ALTER TABLE [dbo].[mascotas]  WITH CHECK ADD  CONSTRAINT [FK_mascotas_propietario] FOREIGN KEY([id_propietario])
REFERENCES [dbo].[propietarios] ([id_propietario])
GO
ALTER TABLE [dbo].[mascotas] CHECK CONSTRAINT [FK_mascotas_propietario]
GO
ALTER TABLE [dbo].[tratamientos]  WITH CHECK ADD  CONSTRAINT [FK_tratamientos_consulta] FOREIGN KEY([id_consulta])
REFERENCES [dbo].[consultas] ([id_consulta])
GO
ALTER TABLE [dbo].[tratamientos] CHECK CONSTRAINT [FK_tratamientos_consulta]
GO
ALTER TABLE [dbo].[vacunas]  WITH CHECK ADD  CONSTRAINT [FK_vacunas_especie] FOREIGN KEY([id_especie])
REFERENCES [dbo].[especies] ([id_especie])
GO
ALTER TABLE [dbo].[vacunas] CHECK CONSTRAINT [FK_vacunas_especie]
GO
ALTER TABLE [dbo].[veterinarios]  WITH CHECK ADD  CONSTRAINT [FK_veterinarios_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[veterinarios] CHECK CONSTRAINT [FK_veterinarios_usuario]
GO
ALTER TABLE [dbo].[calendario_vacunacion]  WITH CHECK ADD CHECK  (([estado]='Cancelada' OR [estado]='Vencida' OR [estado]='Aplicada' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD CHECK  (([estado]='Cancelada' OR [estado]='Completada' OR [estado]='En Curso' OR [estado]='Programada'))
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [CK_facturas_estado] CHECK  (([estado]='Anulada' OR [estado]='Pago Parcial' OR [estado]='Pagada' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [CK_facturas_estado]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [CK_facturas_metodo_pago] CHECK  (([metodo_pago] IS NULL OR ([metodo_pago]='Otro' OR [metodo_pago]='Yape/Plin' OR [metodo_pago]='Transferencia' OR [metodo_pago]='Tarjeta' OR [metodo_pago]='Efectivo')))
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [CK_facturas_metodo_pago]
GO
ALTER TABLE [dbo].[mascotas]  WITH CHECK ADD CHECK  (([sexo]='H' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[tratamientos]  WITH CHECK ADD CHECK  (([estado]='Suspendido' OR [estado]='Completado' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [CK_usuarios_rol] CHECK  (([rol]='Asistente' OR [rol]='Recepcion' OR [rol]='Veterinario' OR [rol]='Administrador'))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [CK_usuarios_rol]
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_vacunaciones_vencidas]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_actualizar_vacunaciones_vencidas]
AS
BEGIN
    UPDATE calendario_vacunacion
    SET estado = 'Vencida'
    WHERE estado = 'Pendiente'
      AND fecha_programada < CAST(GETDATE() AS DATE);
    
    SELECT @@ROWCOUNT AS registros_actualizados;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_reporte_actividad_usuario]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_reporte_actividad_usuario]
    @id_usuario INT,
    @fecha_inicio DATE,
    @fecha_fin DATE
AS
BEGIN
    -- Consultas registradas
    SELECT 
        'Consultas Registradas' AS tipo,
        COUNT(*) AS total
    FROM consultas
    WHERE id_usuario_registro = @id_usuario
      AND fecha_creacion >= @fecha_inicio
      AND fecha_creacion < DATEADD(DAY, 1, @fecha_fin)
    
    UNION ALL
    
    -- Vacunaciones programadas
    SELECT 
        'Vacunaciones Programadas' AS tipo,
        COUNT(*) AS total
    FROM calendario_vacunacion
    WHERE id_usuario_registro = @id_usuario
      AND fecha_registro >= @fecha_inicio
      AND fecha_registro < DATEADD(DAY, 1, @fecha_fin);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_reporte_consultas_periodo]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_reporte_consultas_periodo]
    @fecha_inicio DATE,
    @fecha_fin DATE
AS
BEGIN
    SELECT 
        CAST(c.fecha_hora AS DATE) AS fecha,
        COUNT(*) AS total_consultas,
        SUM(CASE WHEN c.estado = 'Completada' THEN 1 ELSE 0 END) AS completadas,
        SUM(CASE WHEN c.estado = 'Cancelada' THEN 1 ELSE 0 END) AS canceladas,
        SUM(ISNULL(c.costo, 0)) AS ingresos_totales
    FROM consultas c
    WHERE c.fecha_hora >= @fecha_inicio 
      AND c.fecha_hora < DATEADD(DAY, 1, @fecha_fin)
    GROUP BY CAST(c.fecha_hora AS DATE)
    ORDER BY fecha;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_vincular_veterinario_usuario]    Script Date: 1/28/2026 9:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_vincular_veterinario_usuario]
    @id_veterinario INT,
    @id_usuario INT
AS
BEGIN
    -- Verificar que el usuario tenga rol de Veterinario
    IF NOT EXISTS (SELECT 1 FROM usuarios WHERE id_usuario = @id_usuario AND rol = 'Veterinario')
    BEGIN
        RAISERROR('El usuario debe tener rol de Veterinario', 16, 1);
        RETURN;
    END
    
    -- Verificar que el veterinario no tenga ya un usuario
    IF EXISTS (SELECT 1 FROM veterinarios WHERE id_veterinario = @id_veterinario AND id_usuario IS NOT NULL)
    BEGIN
        RAISERROR('El veterinario ya tiene un usuario asignado', 16, 1);
        RETURN;
    END
    
    -- Vincular
    UPDATE veterinarios
    SET id_usuario = @id_usuario
    WHERE id_veterinario = @id_veterinario;
    
    SELECT 'Vinculación exitosa' AS resultado;
END

GO
USE [master]
GO
